ALTER TABLE public.payments ALTER COLUMN amount TYPE numeric;
ALTER TABLE public.credit_transactions ALTER COLUMN amount TYPE numeric;

CREATE OR REPLACE FUNCTION public.add_credits(
  p_user uuid,
  p_credits integer,
  p_amount numeric,
  p_currency text DEFAULT 'USD',
  p_reference text DEFAULT NULL
)
RETURNS integer
LANGUAGE plpgsql SECURITY DEFINER
AS $$$
DECLARE new_balance integer;
BEGIN
  INSERT INTO public.wallets (user_id, balance_credits)
  VALUES (p_user, p_credits)
  ON CONFLICT (user_id)
  DO UPDATE SET balance_credits = public.wallets.balance_credits + p_credits, updated_at = now()
  RETURNING balance_credits INTO new_balance;
  
  INSERT INTO public.credit_transactions (user_id, type, credits, amount, currency, reference)
  VALUES (p_user, 'purchase', p_credits, p_amount, p_currency, p_reference);
  
  RETURN new_balance;
END;
$$$;
